.gw-toast{
    display: flex;
    width: 21.875rem;
    padding: var(--border-16, 1rem);
    align-items: center;
    gap: var(--gaps-16, 1rem);
    border-radius: var(--radius-16, 1rem);
    background: var(--neutral-300, #E8E8E8);
    min-height: var(--size-64, 4rem);

    color: var(--neutral-800, #151515);
    @extend .body;
    text-align: left;

    padding-right: 4rem;

    .close-button{
        position: absolute;
        right: 3rem;
        top: 3rem;

    }

    .toast-icon{
        background-image: url('/testing/icons/400/24/Tooltip.svg');
        background-repeat: no-repeat;
        background-size: auto;
        height: 1.5rem;
        width: 1.5rem;
        min-width: 1.5rem;
        background-position: center;
    }

    &.info{
        background: var(--info-300, #C7CCF8);

        .toast-icon{
            background-image: url('/testing/icons/400/24/Info.svg');
        }
    }

    &.warning{
        background: var(--warning-300, #F9F7C9);

        .toast-icon{
            background-image: url('/testing/icons/400/24/Warning.svg');
        }
    }
    
    &.success{
        background: var(--success-300, #DAEBC2);

        .toast-icon{
            background-image: url('/testing/icons/400/24/Success.svg');
        }
    }
    
    &.failure, &.alert{
        background: var(--failure-300, #F7C9CE);
    }

    &.failure .toast-icon{
        background-image: url('/testing/icons/400/24/Failure.svg');
    }
   
    &.alert .toast-icon{
        background-image: url('/testing/icons/400/24/Error Failure.svg');
    }
}