.gw-tooltip{
    display: flex;
    width: 25rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;

    &.small{
        width: 15rem;
    }

    &.large{
        width: 35rem;
    }

    .tooltip-box{
        display: flex;
        padding: 0.75rem;
        align-items: baseline;
        gap: 0.375rem;
        align-self: stretch;

        border-radius: var(--Radii-8-Small-Radii, 0.5rem);
        background: var(--Neutral-Neutral-700, #282828);

        color: var(--neutral-100, #FFF);
        @extend .body-compact;
        text-align: left;
    }

    .tooltip-arrow-container{
        display: flex;
        width: 100%;
        padding: 0rem 0.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        position: absolute;

        .tooltip-arrow{
            background-image: url('/testing/images/general/tooltip_point.svg');
            background-repeat: no-repeat;
            background-size: 100%;
            width: 1.41263rem;
            height: 0.5rem;
            background-position: center;
        }
    }

    &.above{
        .tooltip-arrow-container{
            bottom: -0.4rem;
        }
    }

    &.below{
        .tooltip-arrow-container{
            .tooltip-arrow{
                rotate: 180deg;
            }

            top: -0.4rem;
        }
    }

    &.right{
        .tooltip-arrow-container{
            align-items: flex-start;
        }

        &:not(.above, .below){
            .tooltip-arrow-container{
                align-items: center;
                rotate: 90deg;
                left: -50.5%;
            }
        }
    }

    &.left{
        .tooltip-arrow-container{
            align-items: flex-end;
        }

        &:not(.above, .below){
            .tooltip-arrow-container{
                align-items: center;
                rotate: -90deg;
                right: -50.5%;
            }
        }
    }
}

.gw-tooltip-container{
    position: relative;

    .gw-tooltip{
        position: absolute;
        display: none;

        &:not(.above, .below){
            top: 40%;
            transform: translate(0, -50%);
        }

        &:not(.left, .right){
            left: 50%;
            transform: translate(-50%, 0);
        }

        &.above{
            bottom: 2.2rem;
        }
   
        &.below{
            top: 1.9rem;
        }

        &.right{
            left: -0.5rem;

            &:not(.above, .below){
                left: 2rem;
            }
        }

        &.left{
            right: -0.5rem;

            &:not(.above, .below){
                right: 2rem;
            }
        }
    }

    &:hover .gw-tooltip{
        display: flex;
    }
}