:root {
	
	--on-primary: #000000;
	--on-secondary: #FFFFFF;

	--primary-gradient: #00FFB5;

	--primary-200: #D8FFEE;
	--primary-300: #9BFFD4;
	--primary-400: #6DFFC0;
	--primary-500: #00FFB5;
	--primary-600: #00F288;
	--primary-700: #008431;
	--primary-800: #006726;

	--primary-gradient: #00FFB5;

	--secondary-200: #E9EAFE;
	--secondary-300: #C8C9FA;
	--secondary-400: #7983F5;
	--secondary-500: #5966F2;
	--secondary-600: #344492;
	--secondary-700: #2B3B7A;
	--secondary-800: #1F305C;

}

.theme-logo{
	background-image: url('/testing/images/logos/glowgreen.svg');
}

.theme-logo-light{
	background-image: url('/testing/images/logos/glowgreen.svg');
}